# Ignore the __pycache__ directory
__pycache__/

# Ignore files that contain sensitive information
secrets/
*.env
*.ini

# Ignore files and directories that are specific to the development environment
venv/
pytest_cache/
build/
dist/

__pycache__\app.cpython-310.pyc
.vscode/settings.json
