body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.main-container {
    width: 80%;
    margin: 100px auto;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    align-items: center;
}

.centered-buttons {
    text-align: center;
    margin: 0 auto;
}

.list-buttons, .add-button, .logout {
    border-radius: 8px;
    margin: 10px 0;
    transition: background-color 0.3s ease;
}

.list-buttons {
    background-color: #f0f0f0;
}

.list-buttons:hover {
    background-color: #ddd;
}

.add-button {
    background-color: #5cb85c;
    color: #fff;
    border: 1px solid #4cae4c;
}

.add-button:hover {
    background-color: #4cae4c;
}

.logout {
    background-color: #d9534f;
    color: #fff;
    border: 1px solid #d43f3a;
}

.logout:hover {
    background-color: #d43f3a;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 80%;
    border: 1px solid #ddd;
    background-color: #fff;
}

td, th {
    border: 1px solid #ddd;
    padding: 0.5em;
}

.list-name {
    padding-left: 10px;
    text-align: left;
    width: 75%;
}

.view-button {
    width: 25%;
}

th {
    background-color: #f0f0f0;
}

.spacer {
    height: 25px;
}

td {
    text-align: center;
}

.view-button {
    width: 100%;
    border-radius: 10px;
}

@media only screen and (max-width: 600px) {
    table {
        width: 90%;
    }

    .main-container {
        width: 90%; 
        margin: 50px auto; 
        padding: 15px; 
    }
}