body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.main-container {
    text-align: center;
    width: 80%;
    margin: 100px auto;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logout {
    border-radius: 10%;
    border: 1px solid #ddd;
    margin: 15px 0;
    background-color: rgb(247, 79, 79);
}

.logout:hover {
    background-color: rgb(218, 53, 53);
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 80%;
}

td, th {
    border: 1px solid gray;
    padding: 0.25em;
}

.list-item {
    white-space: normal;
    padding: 5px;
    box-sizing: border-box;
    overflow: hidden;
}

.item-rank, .delete-button {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}

.item-rank {
    border-right: 1px solid #ddd;
    padding-inline: 10px;
    margin-right: 10px;
}

.item-name {
    padding-inline: 10px;
    text-align: left;
    width: 55%;
    display: inline-block;
    box-sizing: border-box;
    word-wrap: break-word;
}

.delete-button {
    border-left: 1px solid #ddd;
    padding-inline: 10px;
    margin-left: 10px;
}

label, input, button {
    padding: 5px;
    margin-block: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
}

button {
    background-color: #f4f4f4;
    cursor: pointer;
}
