body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.login-container {
    width: 20rem;
    margin: 5rem auto;
    background-color: #fff;
    padding: 1.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    margin-bottom: 30px;
}
h2 {
    text-align: center;
    color: red;
    background-color:rgba(247, 111, 111, 0.442);
    border: 1px solid rgba(247, 111, 111, 0.442);  
}
label {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[value="Submit"] {
    padding: 10px 20px;
    border: none;
    margin-top: 10px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    width: 100%;
}
input[value="Submit"]:hover {
    background-color: #45a049;
}

input[value="Create Account"] {
    padding: 10px 20px;
    border: none;
    margin-top: 10px;
    background-color: #244bca;
    color: #fff;
    cursor: pointer;
    width: 100%;
}
input[value="Create Account"]:hover {
    background-color: #1d3fb1;
}