<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" css="3">
    <title>Gist Lists</title>
</head>

<body>
    <div class="main-container">
        <h1>Welcome</h1>
        <h2>Lists:</h2>

        <div id="categoriescontainer" class="centered-buttons">
            {% for list in data %}
            <a href="/lists/{{list._id}}/choose"><button class="list-buttons">{{ list.name }}</button></a>
            <br>
            {% endfor %}
        </div>

        <a href="/lists/create"><button class="add-button">Add List</button></a>

    </div>

</body>
</html>