<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/lists.css">
    <style>
    </style>

    <title>{{ list.name }}</title>
</head>

<body>
    <div class="main-container">

        <h1>{{ list.name }}</h1>


        <h3>Available Items</h3>
        <div id="available-items">
            {% for item in list['items'] %}
                {% if not item.isChecked %}
                    <div class="list-item" id="item-{{item.id}}">
                        <div class="item-rank">{{item.rank}}</div>

                        {% if item.link %}
                            <a target="_blank" href="//{{item.link}}" class="item-link"><div class="item-name">{{item.name}}</div></a>
                        {% else %}
                            <div class="item-name">{{item.name}}</div>
                        {% endif %}

                        <div class="purchase-button" onclick="markChecked(this)">Mark Purchased</div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        
        <h3>Items you're purchasing</h3>
        <div id="purchased-items">
            {% for item in list['items'] %}
                {% if item.isChecked and not item.locked %}
                    <div class="list-item" id="item-{{item.id}}">
                        <div class="item-rank">{{item.rank}}</div>

                        {% if item.link %}
                            <a target="_blank" href="//{{item.link}}" class="item-link"><div class="item-name">{{item.name}}</div></a>
                        {% else %}
                            <div class="item-name">{{item.name}}</div>
                        {% endif %}

                        <div class="unpurchase-button" onclick="markUnchecked(this)">Unmark Purchased</div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <h3>Items others are purchasing</h3>
        <div id="locked-items">
            {% for item in list['items'] %}
                {% if item.locked %}
                    <div class="locked list-item" id="item-{{item.id}}">
                        <div class="item-rank">{{item.rank}}</div>

                        {% if item.link %}
                            <a target="_blank" href="//{{item.link}}" class="item-link"><div class="item-name">{{item.name}}</div></a>
                        {% else %}
                            <div class="item-name">{{item.name}}</div>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <a href="/lists"><button>Home</button></a>

    </div>

    <script>
        var toChange = []

        async function markChecked(element) {
            var listItem = element.closest('.list-item');
            var itemId = listItem.id.substring(5);

            var change = {
                'id': itemId,
                'nowChecked': true,
            }

            const success = await pushChange(change);
            if(!success) {
                return;
            }


            let button = listItem.getElementsByClassName('purchase-button')[0];
            button.classList.remove("purchase-button");
            button.classList.add("unpurchase-button");
            button.innerHTML = "Unmark Purchased";
            button.setAttribute( "onclick", "markUnchecked(this)" );;

            var itemContainer = document.getElementById('purchased-items');
            var rankToFind = Number(listItem.getElementsByClassName('item-rank')[0].innerHTML)

            for(var i = 0; i < itemContainer.children.length; i++) {
                var curRank = Number(itemContainer.children[i].getElementsByClassName('item-rank')[0].innerHTML);

                if(rankToFind < curRank) {
                    itemContainer.insertBefore(listItem, itemContainer.children[i])
                    return;
                }
            }
            itemContainer.appendChild(listItem)
        }

        async function markUnchecked(element) {
            var listItem = element.closest('.list-item');
            var itemId = listItem.id.substring(5);

            var change = {
                'id': itemId,
                'nowChecked': false,
            }

            const success = await pushChange(change);
            if(!success) {
                return;
            }

            let button = listItem.getElementsByClassName('unpurchase-button')[0];
            button.classList.remove("unpurchase-button");
            button.classList.add("purchase-button");
            button.innerHTML = "Mark Purchased";
            button.setAttribute( "onclick", "markChecked(this);" );;

            var itemContainer = document.getElementById('available-items');
            var rankToFind = Number(listItem.getElementsByClassName('item-rank')[0].innerHTML)

            for(var i = 0; i < itemContainer.children.length; i++) {
                var curRank = Number(itemContainer.children[i].getElementsByClassName('item-rank')[0].innerHTML);

                if(rankToFind < curRank) {
                    itemContainer.insertBefore(listItem, itemContainer.children[i])
                    return;
                }
            }
            itemContainer.appendChild(listItem)
        }

        function pushChange(change) {
            var currentPageURL = window.location.href;

            return fetch(currentPageURL, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ change: change }),
            })
            .then(response => response.json())
            .then(data => {
                if(change['nowChecked']) {
                    alert('Item successfully marked as purchased')
                } else {
                    alert('Item successfully marked as available')
                }
                return true;
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error occured, please try again later or contact Joe for help')
                return false;
            });
        }

    </script>


</body>
</html>