<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="/scripts/scripts.js" defer></script>
    <title>{{ list.name }}</title>
</head>

<body>
    <h1>{{ list.name }} - Guest</h1>

    <form action="/lists/{{list._id}}/guest", method="post">
        {% for item in list['items'] %}
            {% if item.isChecked == True %}
                <input id="{{item.name}}" name="{{item.name}}" type="checkbox" checked>
            {% else %}
                <input id="{{item.name}}" name="{{item.name}}" type="checkbox">
            {% endif %}

            <label for="{{item.name}}">{{item.name}}</label><br>
        {% endfor %}
        <input type="submit" value="Update Selected Items">
    </form>

    <a href="/"><button>Home</button></a>

</body>
</html>