<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/lists.css">
    <style>
        .delete-button {
            cursor: pointer;
            color: red;
        }
    </style>
    <title>{{ list['name'] }}</title>
</head>

<body>
    <div class="main-container">

        <h1 contenteditable="true" enterkeyhint="done" onkeydown="ignoreEnter(event)" onfocusout="updateName(this, event)" onkeyup="updateName(this, event)">{{ list.name }}</h1>

        <div class="item" id="sortable-list">
            {% for item in list['items'] %}
            <div class="list-item" id="item-{{item.id}}">
                <div class="item-rank">{{item.rank}}</div>

                {% if item.link %}
                    <a target="_blank" href="//{{item.link}}" class="item-link"><div class="item-name" contenteditable="true" onkeydown="ignoreEnter(event)" onfocusout="updateItem(this, event)" onkeyup="updateItem(this, event)">{{item.name}}</div></a>
                {% else %}
                    <div class="item-name" contenteditable="true" onkeydown="ignoreEnter(event)" onfocusout="updateItem(this, event)" onkeyup="updateItem(this, event)">{{item.name}}</div>
                {% endif %}

                <div class="delete-button" onclick="deleteItem(this)">Remove</div>
                <div class="drag-handle">&#x2261;</div>
            </div>
            {% endfor %}
        </div>

        <div>
            <label for="newItem">New Item:</label>
            <input type="text" id="newItem-name" onkeypress="inputEnter(event)" placeholder="Enter new item...">
            <input type="text" id="newItem-link" onkeypress="inputEnter(event)" placeholder="Enter link (optional)">
            <button onclick="appendItem()">Add Item</button>
        </div>

        <a href="/lists"><button>Home</button></a>

        <button onclick="saveList()">Save List</button>

    </div>

    <script src="/static/js/sortable.js" ></script>

    <script type="text/javascript">
        var list = {{list|tojson}};
        console.log(list);

        var unsavedChanges = false;
        updateRanks();
        unsavedChanges = false;

        function inputEnter(event) {
            if (event.keyCode == 13) {
                    appendItem()
            }
        }

        function updateName(element, event) {
            list.name = element.innerHTML

            unsavedChanges = true;

            if (event.keyCode != 13) return true;

            event.preventDefault()
            event.target.blur()
        }

        function ignoreEnter(event) {
            if(event.keyCode == 13) {
                event.preventDefault();
                return false;
            }

        }

        function updateItem(element, event) {
            var listItem = element.closest('.list-item');
            var itemId = listItem.id.substring(5)

            for(var i = 0; i < list.items.length; i++) {
                if(list.items[i].id == itemId) {
                    list.items[i].name = element.innerHTML
                }
            }

            unsavedChanges = true;

            if (event.keyCode == 13) {
                event.preventDefault()
                event.target.blur()
            }
            
        }

        function appendItem() {

            var newItemText = document.getElementById('newItem-name').value.trim();
            var newItemLink = document.getElementById('newItem-link').value.trim();

            console.log(newItemText)
            console.log(newItemLink)

            if (newItemText == '') {
                alert("New item textbox is empty")
                return
            }
            var newItem = document.createElement('div');
            newItem.className = 'list-item';

            newid = Math.max(Math.max(...list.items.map(item => item.id)) + 1, 0);
            newRank = Math.max(Math.max(...list.items.map(item => item.rank)) + 1, 0);

            newItem.id = 'item-' + newid

            newListItem = {
                'id': newid,
                'isChecked': false,
                'checkedBy': null,
                'name': newItemText,
                'rank': newRank,
                'link': null,
            }

            if(newItemLink != '') {
                if(newItemLink.indexOf(':') != -1) {
                    newItemLink = newItemLink.substring(newItemLink.indexOf(':')+1)
                }

                newListItem['link'] = newItemLink
                newItem.innerHTML = `<div class="item-rank">${newRank}</div>
                                        <a target="_blank" href="//` + newItemLink + `" target="_blank" class="item-link">
                                        <div class="item-name" contenteditable="true" onfocusout="updateItem(this, event)" onkeypress="updateItem(this, event)">${newItemText}</div>
                                        </a>
                                        <div class="delete-button" onclick="deleteItem(this)">Remove</div>
                                        <div class="drag-handle">&#x2261;</div>`;
            } else {
                newItem.innerHTML = `<div class="item-rank">${newRank}</div>
                                        <div class="item-name" contenteditable="true" onfocusout="updateItem(this, event)" onkeypress="updateItem(this, event)">${newItemText}</div>
                                        <div class="delete-button" onclick="deleteItem(this)">Remove</div>
                                        <div class="drag-handle">&#x2261;</div>`;
            }

            
            list.items.push(newListItem)

            var itemContainer = document.getElementById('sortable-list');
            itemContainer.appendChild(newItem);

            document.getElementById('newItem-name').value = '';
            document.getElementById('newItem-link').value = '';
            unsavedChanges = true;
        }

        function deleteItem(element) {
            var listItem = element.closest('.list-item');
            var itemId = listItem.id.substring(5)

            for(var i = 0; i < list.items.length; i++) {
                if(list.items[i].id == itemId) {
                    list.items.splice(i,1)
                    break
                }
            }

            listItem.remove();

            updateRanks()
        }

        function updateRanks() {
            var listItems = document.querySelectorAll('.list-item');

            for(var i = 0; i < listItems.length; i++) {
                curItemId = listItems[i].id.substring(5)
                itemRank = listItems[i].getElementsByClassName('item-rank')[0]
                // console.log(listItems[i])
                // console.log(itemRank)
                itemRank.innerHTML = i+1
                for(var j = 0; j < list.items.length; j++) {
                    if(curItemId == list.items[j].id) {
                        list.items[j].rank = i+1;
                    }
                }
            }
            
            unsavedChanges = true;
        }

        function saveList() {
            var currentPageURL = window.location.href;

            fetch(currentPageURL, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ list: list }),
            })
            .then(response => response.json())
            .then(data => {
                unsavedChanges = false;
                alert('List saved successfully')
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error occured, please try again later or contact Joe for help')
            });
        }

        window.addEventListener('beforeunload', function (e) {
            if (unsavedChanges) {
                const message = 'You have unsaved changes. Are you sure you want to leave?';
                e.returnValue = message;
                return message;
            }
        });

    </script>

    <script>
        let items = document.getElementById('sortable-list');

        const sortable = new Sortable(items, {
            animation: 200,
            ghostClass: 'drag',
            onEnd: function(evt) {
                updateRanks()
            },
        });
    </script>

</body>
</html>
