<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="/scripts/scripts.js" defer></script>
    <title>{{ list.name }}</title>
</head>

<body>
    <h1>Add Items to  {{ list.name }}</h1>

    <form action="/lists/{{list.id}}/add", method="post">
        <label for="textAdd">Items to add:</label>
        <input id="textAdd" name="textAdd" type="text"><br>
        <input type="submit" value="Add Items">
    </form>

    <a href="/lists/{{list.id}}/owner"><button>Back</button></a>

</body>
</html>