<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/lists.css">
    <title>{{ list.name }}</title>
</head>

<body>
    <div class="main-container">
        <h1>{{ list.name }}</h1>

        <form action="/lists/{{list._id}}/guest", method="post">
            <table>
                <thead>
                <tr>
                    <th>🎁</th>
                    <th>Item</th>
                </tr>
                </thead>
                <tbody>
                    {% for item in list['items'] %}
                    <tr>
                        <td class="purchased">
                            {% if item.isChecked == True %}
                                <input id="{{item.id}}-pur" name="{{item.id}}-pur" type="checkbox" checked>
                            {% else %}
                                <input id="{{item.id}}-pur" name="{{item.id}}-pur" type="checkbox">
                            {% endif %}
                        </td>
                        <td class="items">{{item.name}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <input type="submit" value="Update Selected Items">
        </form>

        <a href="/"><button>Home</button></a>

    </div>

</body>
</html>