<!DOCTYPE html>
<html lang="en">
<head>
  <title>Gift List Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
  <div class="login-container">
    <h1>Login</h1>

    {% if failed == True %}
      <h2>Incorrect username or password</h2>
    {% endif %}

    <form action="/login", method="post">
      <label for="username">Username</label>
      <input type="text" id="username" name="username">
      <label for="password">Password</label>
      <input type="password" id="password" name="password">
      <input type="submit" value="Submit">
    </form> 

    <a href="/create-account"><input type="submit" value="Create Account"></a>

  </div>
</body>
</html>
