<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/lists.css">
    <style>
        .delete-button {
            cursor: pointer;
            color: red;
        }
    </style>
    <title>{{ list['name'] }}</title>
</head>

<body>
    <div class="main-container">

        <h1>{{ list.name }}</h1>

        <div class="item" id="sortable-list">
            {% for item in list['items'] %}
            <div class="list-item">
                <div>{{item.rank}}</div>
                <div class="item-name" contenteditable="true">{{item.name}}</div>
                <div class="delete-button" onclick="deleteItem(this)">Delete</div>
            </div>
            {% endfor %}
        </div>

        <div>
            <label for="newItem">New Item:</label>
            <input type="text" id="newItem" placeholder="Enter new item...">
            <button onclick="appendItem()">Add Item</button>
        </div>

        <a href="/lists"><button>Home</button></a>

    </div>

    <script src="/static/js/sortable.js" ></script>

    <script>
        function appendItem() {
            var newItemText = document.getElementById('newItem').value.trim();

            if (newItemText !== '') {
                var newItem = document.createElement('div');
                newItem.className = 'list-item';
                newItem.innerHTML = `<div>${newItemText}</div><div class="item-name" contenteditable="true">${newItemText}</div><div class="delete-button" onclick="deleteItem(this)">Delete</div>`;

                var itemContainer = document.getElementById('sortable-list');
                itemContainer.appendChild(newItem);

                document.getElementById('newItem').value = ''; // Clear the input field
            }
        }

        function deleteItem(element) {
            var listItem = element.closest('.list-item');
            listItem.remove();
        }
    </script>

    <script>
        let items = document.getElementById('sortable-list');

        new Sortable(items, {
            animation: 200,
            ghostClass: 'drag'
        });
    </script>

</body>
</html>
